
.header {
  height: 70px;
  background: var(--header_bg);

  .menu {
    .navbar {
      .container-fluid {
        @media screen and (max-width:992px){
          padding:0px;
        }
        .navbar-toggler{
          .check{
            font-size: 34px;
          }
         
        };
        button{
            color: var(--white);
            &:focus{
                box-shadow: none;
                
            }
        }
        .navbar-brand {
          height: 54px;
          padding-left: 35px;
          @media (max-width:576px){
            height: 48px;
          }
          img {
            width: 100%;
            height: 100%;
          }
          @media (max-width:992px){
            // height: 50px;
            padding-left: 16px;
          }
        }
        .navbar-collapse {
            @media (max-width:992px){
                padding-bottom: 20px;
                height: 100vh;
            }
          .navbar-nav {
            margin: auto;
            @media (max-width:992px){
                padding: 10px 15px;
            }
            .nav-item {
              margin: 0 12px;

              .nav-link {
                color: var(--white);
                transition: all 0.4s linear;
                font-weight: 600;
                &:hover {
                  color: var(--gray);
                }
              }

              .dropdown {
                padding: 0;
                padding-top: 7px;
                color: var(--white);
                position: relative;
                display: inline-block;
                .dropdown-content {
                  display: none;
                  position: absolute;
                  background-color: #f1f1f1;
                  min-width: 160px;
                  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                  z-index: 1;
                  top:30px;
                    left: -20px;
                    border-radius: 10px;
                    @media (max-width:992px){
                        top: -10px;
                        left: 59px;
                    }
                   
                  a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    transition: all 0.4s linear;
                    font-weight: 600;
                    padding-bottom: 3px;
                    &:hover{
                        color: var(--log_color);
                        transform: translateX(10px);
                    }
                  }
                }
                .dropbtn {
                  background: none;
                  border: none;
                  color: var(--white);
                  font-weight: 600;
                  transition: all 0.4s linear;
                  @media (max-width:992px){
                    padding: 0px;
                    padding-bottom: 6px;
                  }
                  &:hover {
                    display: block;
                    color: var(--gray);
                  }
                }
                &:hover{
                    .dropdown-content{
                        display: block;
                    }
                }
              }
            }
          }
          @media (max-width:992px){
                background: var(--header_bg);
          }
        }
        .icons {
          @media (max-width:992px){
            padding:0px 15px;
      }
          .facebook {
            background-color: var(--blue_light);
            border-radius: 50%;
            padding: 5px;
            margin: 0 3px;
            cursor: pointer;
            transition: all 0.4s linear;
            height: 36px;
            width: 36px;
            color: var(--white);
            
            &:hover {
                opacity: 0.6;
          
            }
          }
          .twitter {
            background-color: var(--log_color);
            border-radius: 50%;
            padding: 5px;
            margin: 0 3px;
            cursor: pointer;
            transition: all 0.4s linear;
            height: 36px;
            width: 36px;
            color: var(--white);
            
            &:hover {
            opacity: 0.6;
          
            }
          }
          .github {
            background-color: var(--green);
            border-radius: 50%;
            padding: 5px;
            margin: 0 3px;
            cursor: pointer;
            transition: all 0.4s linear;
            height: 36px;
            width: 36px;
            color: var(--white);
            
            &:hover {
            //   background: var(--gray);
            //   background: var(--blue);
                opacity: 0.6;
            }   
          }
        }
      }
    }
  }
}
